$VB-input-BgColor:#BFC1FD;
$VB-button-TexColor:#000;
$VB-button-BgColor:#E1E0E6;

.margin-up{
    margin-top: 25px;
}
.VB-button{
    background-color: $VB-button-BgColor !important;
    color: $VB-button-TexColor !important;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 25px;
}
.VB-input{
    background-color: $VB-input-BgColor !important;
    &:focus{
        background-color: $VB-input-BgColor !important;
    }
}
.one-line{
    float: left;
    padding-left: 10px;
  }